* {
    box-sizing: content-box;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

html, body{
    width:100%;
    padding:0;
}

main, body {
    background: #F9F9F9;
    height: auto;
}

header {
    height: 100px;
    width: 100%;
    background: #FFFFFF;
    top: 0;
    white-space: nowrap;
}

.title {
    font-size: 24px;
    letter-spacing: -0.88px;
    color: #363636;
    width: 60%;
    margin: auto;
    display: flex;
}

.header-container {
    display: flex;
    flex-direction: row;
    margin: 0 10% 0 10%;
    height: 100%;
}

.search-container {
    width: 40%;
    margin: auto;
    display: flex;
}

#search {
    width: 400px;
    height: 40px;
    opacity: 0.7;
    float: right;
    border-color: #F2F2F2F2;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: inset 0px 0px 3px 1px rgba(242, 242, 242, 0.5);
    background-color: #FFFFFF;
    font-size: 14px;
    padding-left: 20px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 95%;
    margin: auto 0 auto auto;
}

.search-loaded {
    background-image: url(../img/shape.png);
}

.search-loading {
    background-image: url(../img/loading.gif);
}

#search:focus {
    outline-color: #F2F2F2F2;
}

.content {
    height: auto;
    margin: 50px 10% 0 10%;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    height: 90px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    display: flex;
}

.album-image {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    margin: auto 25px auto 20px;
    cursor: pointer;
}

.title-holder {
    display: flex;
    width: 410px;
    flex-direction: column;
    margin: auto auto auto 0;
}

.album-title {
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.66px;
    color: #363636;
    cursor: pointer;
}

.artist-title {
    height: 14px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -0.44px;
    color: #A0A0A0;
    cursor: pointer;
}

.album-price, .album-release-date {
    width: 100px;
    height: 16px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.51px;
    color: #000000;
}

.album-price {
    margin: auto auto auto 25px;
}

.album-release-date {
    margin: auto auto auto 0;
}

.album-favorite-link {
    height: 11px;
    font-family: WorkSans;
    font-size: 12px;
    color: #13D6EA;
    margin: auto;
    cursor: pointer;
}

.album-favorite-link:hover {
    text-decoration: underline;
}

.album-favorite {
    margin: auto 20px auto 25px;
    width: 150px;
    display: flex;
}

.album-favorite-button {
    height: 25px;
    border-radius: 4px;
    background-color: #13D6EA;
    border-color: #13D6EA;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: normal;
    color: #FFFFFF;
    padding-left: 14px;
    padding-right: 14px;
    margin: auto;
    cursor: pointer;
    outline: 0;
}


.album-favorite-button:hover {
    background-color: #2DCCDD;
    border-color: #2DCCDD;
}

span.dsc {
    width: 70px;
    height: 16px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.51px;
    color: #A0A0A0;
}

.back-link {
    font-size: 24px;
    cursor: pointer;
    margin-right: 25px;
}

.back-link:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.pagination-limit {
    margin: auto 0 auto auto;
}

.pagination-page {
    margin: auto auto 0 auto;
}

.pagination-limit > #limit, .pagination-page > #page {
    margin: auto;
    width: 40px;
    height: 40px;
    opacity: 0.7;
    border-color: #F2F2F2F2;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: inset 0px 0px 3px 1px rgba(242, 242, 242, 0.5);
    background-color: #FFFFFF;
    font-size: 14px;
    padding-left: 20px;
}

.hide {
    display: none;
}

.loading-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

.loading-text {
    font-size: 24px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -50px;
    margin-top: 30px;
    color: #D6D6D6;
}

.text-center {
    text-align: center;
}

@media (max-width: 1200px){
    .header-container {
        margin: 0 5% 0 5%;
    }
    .content {
        margin: 50px 5% 0 5%;
    }
    .album-title {
        font-size: 14px;
    }
}

@media (max-width: 992px){
    .title-holder {
        width: 350px;
    }
    .album-image {
        width: 170px;
        height: 170px;
        margin: 10px;
    }
    section {
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: baseline;
    }

    section > img {
        flex: 1 1 170px;
    }

    .album-price, .title-holder, .album-release-date {
        margin: 20px auto auto 0;
    }

    .album-favorite {
        margin: auto auto auto 0;
    }

    .album-favorite-button, .album-favorite-link {
        margin: 0 0 10px 0;
    }
    .album-favorite-link {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .header-container {
        margin: 0 15% 0 15%;
    }

    .content {
        margin: 50px 15% 0 15%;
    }

    #search {
        width: 300px;
    }

}

@media (max-width: 768px) {
    header {
        margin: auto;
        top: 0;
        display: flex;
        height: auto;
    }

    .header-container {
        margin: auto;
        flex-direction: column;
        text-align: center;
    }
    .content {
        margin: 50px 10% 0 10%;
    }

    .search-container {
        margin: auto;
        width: 200px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .title-holder {
        width: 225px;
    }

    .title {
        margin: auto;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .back-link {
        margin-left: -25px;
    }
}

@media (max-width: 480px) {
    .title-holder {
        width: 175px;
    }

    .album-title {
        font-size: 13px;
    }

    .content {
        margin: 50px 2% 0 2%;
    }
}

@media (max-width: 375px) {
    .title-holder {
        width: 150px;
    }

    .album-title {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .title-holder {
        width: 125px;
    }
}
